fieldset{
    max-width: 300px;
    border-radius: 5px;
}

label{
    display: block;
}

#name{
    width: 250px;
    margin-bottom: 10px;
}

#date{
    width: 250px;
    margin-bottom: 10px;
}

#email{
    width: 250px;
    margin-bottom: 10px;
}

#tel{
    width: 250px;
    margin-bottom: 10px;
}

#text{
    resize: vertical;
    width: 250px;
    max-height: 200px;
    min-height: 20px;
}

#checkbox{
    cursor: pointer;
    
}

button{
    cursor: pointer;
}