html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans", "namu-pro", sans-serif;
}

.container {
  max-width: 1920px;
  margin-inline: auto;
  margin-left: clamp(1.25rem, -2rem + 16.25vw, 17.5rem);
  margin-right: clamp(1.25rem, -2rem + 16.25vw, 17.5rem);
}
