:root {
  /* font-family */
  --head-font-family: "namu-pro", sans-serif;
  --text-font-family: "OpenSans", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #c5358c;
  --main-text-color: #111;
  --accent-bg: #f8f8f8;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
