.some-text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    font-size: 20px;
}

.block{
    text-decoration: line-through;
}
.slick{
    text-align: center;
    text-transform: uppercase;
}
.my{
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 1px 1px 0 purple;
}

.salt{
    letter-spacing: 5px;
    text-decoration: underline double;
}