table {
border-collapse: collapse;
border-spacing: 0;
margin: 20px;
width: 300px;
height: 200px;
font-family: sans-serif;
}

td,
th,
caption {
border: 1px solid black;
}

caption {
border-bottom: none;
font-weight: 700;
font-size: 20px;
}

td {
font-weight: 600;
}

.hol {
color: red;
}
