.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: box-shadow var(--transition-time);
  background-color: var(--main-text-color);
  padding-block: 15px;
}

.header--fixed {
  box-shadow: -2px 0 20 var(--main-text-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__card {
  display: flex;
  align-items: center;
}

@media (width <= 1686px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    min-width: 297px;
    padding-top: 144px;
    padding-right: 15px;
    background-color: var(--main-text-color);
    box-shadow: -2px 0 20 var(--main-text-color);
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width > 768px) {
  .header__card {
    gap: 40px;
  }
}

@media (width<=768px) {
  .header__card {
    gap: 20px;
  }
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__link {
  color: var(--main-color);
  font-family: var(--head-font-family);
  font-size: 20px;
}

@media (width > 356px) {
  .header__logo {
    width: 183px;
    height: 77px;
  }
}

@media (width <= 356px) {
  .header__logo {
    width: 94px;
    height: 39px;
  }
}
